<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="/stylesheets/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="/javascripts/jquery.min.js"> </script>
<!--web_fonts-->
<!--/web_fonts-->
<!--start-smoth-scrolling-->
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
<!--header-->
<div id="home" class="banner">
	<div class="container">
		<div class="label-1"> </div>
		<div class="top-menu">
		<span class="menu"> </span> 
			<ul class="nav">
                    <li><a href="/academic/teachPlan">发布界面</li>
					<li><a href="/academic">教务处主页</a></li>
                    <li><a href="/academic/viewPlan">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修改教学计划
                        </a></li>
                    <li><a href="/">退出</a></li>
				</ul>
				<div class="logo">
					<a href="#"><img src="../images/taiyuan.png" /></a>
				</div>
				<div class="clearfix"> </div>
	</div>	
			 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	
			<div id="banner-top" class="banner-top">		  		  
				<h1><span class="left-icon"> </span>学院课程管理系统<span class="right-icon"> </span><div class="clearfix"> </div></h1>
				<h2><span class="left-icon"> </span>发布教学计划界面<span class="right-icon"> </span><div class="clearfix"> </div></h2>
        </div>
    <article>
    <% if (success) { %>
    <div align="center"><%= success %></div>
    <% } %>
    <% if (error) { %>
    <div align="center"><%= error %> </div>
    <% } %>
    </article>
    <br><br>
    <h3 align="center">单项发布教学计划</h3>
    <div class="conatct-form">
    <form method="POST">
        <ul class="form">
				<li>
				<input type="text" name="course_name" class="text" value="课程名称" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '课程名称*';}">
				</li>
				<li>
				<input type="text" name="course_id" class="text" value="课程编号" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '课程编号'}">
				</li>
                <li>
				<input type="text" name="course_time" class="text" value="课时" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '课时';}">
				</li>
                <li>
                    <p>班级类别</p>
				<select name="category">
    				<option value ="本科">本科</option>
				  	<option value ="专科">专科</option>
				  	<option value="成人教育">成人教育</option>
				  	<option value="研究生">研究生</option>
    			</select>
				</li>
                <li>
				<input type="text" name="class_id" class="text" value="班号" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '班号';}">
            </li>
				<div class="sub-button">
					<input type="submit" value="发 布">
				</div>
			</ul>
    </form>
        </div>
    </div>
</div>
</body>
</html>